[workspace]
members = ["web_frontend", "privaxy"]

[profile.release]
lto = true
codegen-units = 8
opt-level = 3

# [patch.crates-io]
# ring = { git = "https://github.com/briansmith/ring.git", branch = 'release-branch/0.17.12' }

#[patch.crates-io]
# ring = { git = "https://github.com/mesalock-linux/ring-sgx.git", package = "ring" }
#ring = { git = "https://github.com/Lichtenshtein/ring.git", package = "ring" }