name: CI
on:
#  push:
#    branches: 
#      - main
#  pull_request:
#    branches: 
#      - main
  workflow_dispatch:

jobs:
  clippy_check:
    name: Run clippy check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses:  actions/checkout@v4

      - uses: actions-rs/toolchain@v1
        with:
          toolchain:  nightly
          components: clippy
          override: true

      - name: Cache Rust
        uses: swatinem/rust-cache@v2
        with:
          workspaces: '.'

      - name: Install trunk
        uses: actions-rs/cargo@v1
        with:
          command: install
          args: --locked --debug trunk

      - name: Install webassembly rust target
        run: rustup target add wasm32-unknown-unknown

      - name: Install node
        uses: actions/setup-node@v4
        with: 
          node-version: 22  # LTS, supported until Oct 2027
          cache: 'npm'
          cache-dependency-path: 'web_frontend/package-lock.json'

      - name: Install node packages
        working-directory: ./web_frontend
        run: npm ci  # Use ci instead of i for CI environments

      - name: Build web frontend
        run: trunk build
        working-directory: ./web_frontend

      - name: Run clippy
        uses: actions-rs/cargo@v1
        with: 
          command: clippy
          args: -- -D warnings

  rustfmt:
    name: Check style
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install rust
        uses: actions-rs/toolchain@v1
        with: 
          toolchain: stable
          components: rustfmt
          profile: minimal
          override: true

      - name: Run cargo fmt
        uses: actions-rs/cargo@v1
        with: 
          command: fmt
          args:  --all -- --check

  image:
    name: Build docker image
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name:  Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Get image tag
        id: vars
        run: |
          rel="$( echo "${GITHUB_REF#refs/*/}" )"
          if grep -qE '^\d+\.\d+\.\d+' <<< "$rel" ; then
            echo "Using $rel as image tag"
            echo "IMAGE_TAG=$rel" >> $GITHUB_ENV
          elif [ "$rel" = "main" ]; then
            echo "Using dev as image tag"
            echo "IMAGE_TAG=dev" >> $GITHUB_ENV
          else
            rel=$(echo "$GITHUB_SHA" | cut -c1-7)
            echo "Using $rel as image tag"
            echo "IMAGE_TAG=$rel" >> $GITHUB_ENV
          fi

      - name: Auth to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry:  ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push image
        uses: docker/build-push-action@v5
        with: 
          context: .
          # platforms: linux/arm64/v8,linux/amd64
          platforms: linux/mipsel
          push: ${{ github.ref == 'refs/heads/main' }}
          # tags: ghcr.io/lichtenshtein/privaxy: ${{ env.IMAGE_TAG }}
          cache-from: type=gha
          cache-to:  type=gha,mode=max
