name: CI
on:
  workflow_dispatch:

jobs:
  build-mipsel:
    name: Build for Mipsel (GNU/Padavan)
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target: [mipsel-unknown-linux-musl]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Rust Nightly
        uses: dtolnay/rust-toolchain@nightly
        with:
          # targets: mipsel-unknown-linux-musl
          components: rust-src

      - name: Install Cross-Compilation Toolchain
        run: |
          sudo apt-get update
          # sudo apt-get install -y gcc-mipsel-linux-gnu g++-mipsel-linux-gnu libc6-dev-mipsel-cross

      - name: Cache Cargo
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            target
          key: ${{ runner.os }}-${{ matrix.target }}-cargo

      # - name: Install Cross
        # run: cargo install cross --git https://github.com/cross-rs/cross.git

      - name: Build MIPS Binary
        run: |
          cargo build \
            --target ${{ matrix.target }} \
            --release \
            -p privaxy-app \
            -Z build-std=std,panic_abort \
            -Z unstable-options \
            --no-default-features \
            --features "liveview"
        env:
          CARGO_TARGET_MIPSEL_UNKNOWN_LINUX_MUSL_LINKER: rust-lld
          # CC_mipsel_unknown_linux_musl: musl-gcc
          RUSTFLAGS: >
            -Z unstable-options
            -C panic=immediate-abort
            -C target-feature=+soft-float
            -C link-self-contained=yes
            -C target-feature=+crt-static
            -C link-arg=-static
            -C link-arg=-s
            --cfg force_disable_atomic64

      - name: Create dirlist snapshot
        run: |
          find . -print | sed -e 's;[^/]*/;|___;g;s;___|; |;g' > ./post-dir-tree.txt
          find . -type f -o -type d > ./dir-files.txt

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: dioxus-mipsel-musl-binary
          path: |
            target/${{ matrix.target }}/release/privaxy-app
            ./post-dir-tree.txt
            ./dir-files.txt

  # ci:
    # name: CI
    # needs: build-mipsel
    # runs-on: ${{ matrix.os }}
    # strategy:
      # matrix:
        # include:
          # - build: linux
            # os: ubuntu-latest
            # rust: nightly
            # target: mipsel-unknown-linux-gnu
    # steps:
      # - name: Checkout
        # uses: actions/checkout@v4

      # - name: Cache build artifacts
        # uses: actions/cache@v3
        # with:
          # key:  no_gui-${{ matrix.os }}-${{ matrix.target }}-artifacts
          # path: |
            # ./target
            # ~/.cargo

      # - name: Install rust
        # uses: actions-rs/toolchain@v1
        # with:
          # toolchain: ${{ matrix.rust }}
          # profile: minimal
          # override: true

      # - name: Install cross build dependencies
        # if: matrix.target == 'aarch64-unknown-linux-gnu'
        # run: sudo apt-get update && sudo apt-get install -y gcc-aarch64-linux-gnu libc6-dev-arm64-cross

      # - name: Install cross build dependencies
        # if: matrix.target == 'mipsel-unknown-linux-gnu'
        # run: sudo apt-get update && sudo apt-get install -y gcc-mipsel-linux-gnu g++-mipsel-linux-gnu

      # - name: Install rust target
        # run: |
          # rustc --print=target-list
          # rustup default nightly

      # - name: Set up Docker
        # uses: docker/setup-qemu-action@v3
        # with:
          # platforms: all

      # - name: Cross compile to mipsel
        # uses: actions-rs/cargo@v1
        # with:
          # use-cross: true
          # command: build
          # args: --target mipsel-unknown-linux-gnu --release -Zbuild-std --bin privaxy --target-dir target

      # - uses: actions/upload-artifact@v4
        # if: matrix.os != 'windows-latest'
        # with:
          # name: privaxy_nogui-${{ matrix.target }}
          # path: |
            # target/${{ matrix.target }}/release/privaxy

      # - uses: actions/upload-artifact@v4
        # if: matrix.os == 'windows-latest'
        # with:
          # name: privaxy_nogui-${{ matrix.target }}
          # path: |
            # target/${{ matrix.target }}/release/*
