name: CI
on:
  workflow_dispatch:

jobs:
  clippy_check:
    name: Run clippy check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Rust Nightly
        uses: dtolnay/rust-toolchain@nightly
        with:
          components: clippy, rust-src
          targets: wasm32-unknown-unknown 

      - name: Cache Rust
        uses: swatinem/rust-cache@v2

      - name: Install Trunk
        uses: jetli/trunk-action@v0.5.0

      - name: Install node
        uses: actions/setup-node@v4
        with: 
          node-version: 22
          cache: 'npm'
          cache-dependency-path: 'web_frontend/package-lock.json'

      - name: Install node packages
        working-directory: ./web_frontend
        run: npm ci

      - name: Build web frontend
        run: trunk build --release
        working-directory: ./web_frontend

      - name: Run clippy
        # Fail build if there are warnings (standard CI behavior)
        # run: cargo clippy --all-targets -- -D warnings
        # Try to fix and then exit successfully
        run: cargo clippy --fix --all-targets --allow-dirty

  build_mipsel:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Install Rust Nightly
        uses: dtolnay/rust-toolchain@nightly
        with:
          components: rust-src # This contains the source code for 'core' and 'std'

      - name: Install Cross
        run: cargo install cross --git https://github.com/cross-rs/cross

      - name: Build for MIPS
        run: |
          run: cross +nightly build --release --target mipsel-unknown-linux-gnu --bin privaxy

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile.runtime # Use a simplified runtime Dockerfile
          platforms: linux/mipsel
          push: ${{ github.ref == 'refs/heads/main' }}
          tags: ghcr.io/lichtenshtein/privaxy:${{ env.IMAGE_TAG }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
